#left{float: left;width: 100px;height: 100px; margin-right: 10px;}
#left1{float:left;width: 100px;height: 100px; margin-right: 5px;}
#right{float: right;width:50px; height: 10px;}
#center{margin: 0 auto;width: 100px;}
