/*div.filesList {
   display: block;
   margin: auto;
   padding: 5px;
   width: 80%;
   height: 300px;
   border: 3px solid #8d8d8d;
   clear: both;
   overflow: auto;
}

div.filesListItem {
   display: block;
   width: 99%;
   height: 70px;
   border:2px;
   border-style: solid;
   border-color: white white #c0c0c0 white;
   background-color: white;
   clear: both;
}

div.titlePosition {
float: center;
color:black;
font-family:courier;
margin-top: 2%;
margin-left: 5%;
}

div.authorPosition {
font-size: 13px;
color: #8d8d8d;
margin-top: 1%;
font-family: courier;
margin-left: 5%;
}

.button{
   position: absolute;
    float: center;
    margin-left:40%;
    margin-top: -1%;
}*/

.main-container {
    background-color: rgb(246, 246, 246);
    padding: 30px;
    width: 600px;
    border-radius: 5px;
    margin: 50px 0;
}

.file-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
