/* Add any global CSS here. */

@import url("../../containers/loginPage/index.css");
@import url("../../containers/scriptPage/index.css");
@import url("../../containers/filesPage/index.css");

body {
  /*margin: 0;
  padding: 0;
  font-family: sans-serif;*/
  min-width: 300px;
}

h2 {
    font-size: 12pt;
}

.panel {
    max-height: 500px;
    overflow-y: scroll;
}
