h1.main-page-header {
    text-align: center;
    text-transform: uppercase;
}

.main-page-row {
    padding: 10px 5%;
}

.no-content-text {
    text-align: center;
}

.main-page-content .dropdown {
    width: 100%;
}

.main-page-content .dropdown button {
    width: 100%;
    overflow: hidden;
}

.main-page-content .dropdown li {
    text-align: center;
}

.main-page-content .lines-list-group button:focus {
    z-index: 5;
}
